<div class="card-container">
    <h1 x-large class="sample-content">{{type}}</h1>


    <div class="card card-w-title">
        <h3>Endpoint</h3>
        <input type="string" style="width:100%" [(ngModel)]="baseUrl" pInputText placeholder="JSON API endpoint...">
    </div>

    <div class="card card-w-title">
        <h3>Query</h3>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-2">
                <input type="string" style="width:100%" [(ngModel)]="query.type" pInputText name="type"
                       placeholder="Type">
            </div>
            <div class="ui-g-12 ui-md-2">
                <input type="string" style="width:100%" [(ngModel)]="query.id" pInputText name="id" placeholder="ID">
            </div>
            <div class="ui-g-12 ui-md-2">
                <input type="string" style="width:100%" [(ngModel)]="query.relationship" pInputText name="relationship"
                       placeholder="Relationship">
            </div>
            <div class="ui-g-12 ui-md-5">
                <input type="string" style="width:100%" [(ngModel)]="query.parameters" pInputText name="parameters"
                       placeholder="Parameters">
            </div>
            <div class="ui-g-12 ui-md-1">
                <button pButton (click)="get()" label="Get"></button>
            </div>
        </div>
    </div>


    <div class="card card-w-title" *ngIf="nodes != null">

        <div class="ui-g">
            <div class="ui-g-12 ui-md-6" style="padding:0px;margin:0px">
                <h3>Result</h3>
            </div>
            <div class="ui-g-12 ui-md-6">
                <span style="float:right; padding-top:0.6em">
                    <input type="string" [(ngModel)]="queryTerm" pInputText placeholder="Filter result...">
                </span>
            </div>
        </div>

        <div style="font-size: 90%; font-family: 'Courier New'">
            <p-treeTable [value]="nodes" styleClass="tree-table-no-header">
                <p-column filter="true" field="key" header="key" [style]="{'width':'250px'}"></p-column>
                <p-column field="value" header="value">
                    <template pTemplate let-node="rowData" type="body">
                    <span *ngIf="node.data.type == 'url'">
                        <a href="{{node.data.urlValue}}">..{{node.data.value}}</a>
                    </span>
                        <span *ngIf="node.data.type == 'text'">
                        {{node.data.value}}
                    </span>
                        <span *ngIf="node.data.type == 'query'">
                        <a href="#" (click)="get(node.data.query)">{{node.data.value}}</a>
                    </span>
                    </template>
                </p-column>
            </p-treeTable>
        </div>
    </div>

</div>

